<MenuButton>
    <ButtonContent>Edit...</ButtonContent>
    <MenuContent>
        <nav class="nav flex-column">
            <NavLink class="nav-link" href="" >
                <span class="oi oi-file" aria-hidden="true"></span> Copy
            </NavLink>
            <NavLink class="nav-link" href="">
                <span class="oi oi-command" aria-hidden="true"></span> Cut
            </NavLink>
            <NavLink class="nav-link" href="">
                <span class="oi oi-share" aria-hidden="true"></span> Paste
            </NavLink>
        </nav>
    </MenuContent>
</MenuButton>
