<MenuButton>
    <ButtonContent>File...</ButtonContent>
    <MenuContent>
        <div class="nav flex-column">
            <NavLink class="nav-link" href="" >
                <span class="oi oi-file" aria-hidden="true"></span> Open...
            </NavLink>
            <NavLink class="nav-link" href="">
                <span class="oi oi-command" aria-hidden="true"></span> Save...
            </NavLink>
            <NavLink class="nav-link" href="">
                <span class="oi oi-share" aria-hidden="true"></span> Share...
            </NavLink>
        </div>
    </MenuContent>
</MenuButton>
