<MenuButton>
    <ButtonContent>Tools...</ButtonContent>
    <MenuContent>
        <nav class="nav flex-column">
            <NavLink class="nav-link" href="https://blazor.net" >
                <span class="oi oi-file" aria-hidden="true"></span> Blazor
            </NavLink>
            <NavLink class="nav-link" href="https://github.com/sql-mistermagoo/BlazorMenu">
                <span class="oi oi-command" aria-hidden="true"></span> Project Repo
            </NavLink>
        </nav>
    </MenuContent>
</MenuButton>
