<MenuGroup>
    <MenuGroupContent>
        <MenuButton>
            <ButtonContent>Menu</ButtonContent>
            <MenuContent>
                <nav class="nav flex-column">
                    <FileMenu/>
                    <EditMenu/>
                    <ToolsMenu/>
                    <SubMenu/>
                </nav>
            </MenuContent>
        </MenuButton>
    </MenuGroupContent>
</MenuGroup>
